@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-blue: #1992d4;
  --color-lightgrey: #ddd;
  --color-darkgrey: #333;
  --block--padding: 10px;
  --user-icon-width: 80px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

body {
  display: grid;
  grid-template:
    "navbar header" 200px
    "navbar main" 1fr
    / 200px 1fr;
}

/* -- HEADER -- */

.header {
  grid-area: header;
  padding: var(--block--padding) calc(var(--block--padding) * 5);
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  gap: var(--block--padding);

  display: grid;
  grid-template:
    "header__search header__user" 2fr
    "header__welcome header__interact" 3fr
    / 3fr 2fr;
}

.header > div {
  display: flex;
  align-items: center;
}

.search-container {
  gap: var(--block--padding);
}

.search-container > input {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--color-lightgrey);
}

.user-container {
  justify-content: flex-end;
  gap: calc(var(--block--padding) * 4);
}

.user-container__fullname {
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome-container {
  gap: var(--block--padding);
}

.welcome-container > #welcome-user-icon {
  width: var(--user-icon-width);
}

.welcome-container__text {
  display: flex;
  flex-direction: column;
  height: calc(var(--user-icon-width) - var(--user-icon-width) * 0.4);
  justify-content: space-between;
}

#welcome-container__greetings {
  font-size: 1.1rem;
}

#welcome-container__username {
  font-size: 1.5rem;
  font-weight: bold;
}

.interact-container {
  justify-content: center;
  gap: calc(var(--block--padding) * 3);
}

.interact-container > button {
  background-color: var(--color-blue);
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 1.5rem;
}

/* -- NAVBAR -- */

.navbar {
  grid-area: navbar;
  background-color: var(--color-blue);
  padding: var(--block--padding);
  color: #fff;
}

.navbar,
.navbar__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--block--padding) * 5);
}

/* -- MAIN -- */

.main {
  grid-area: main;
  background-color: var(--color-lightgrey);
}

/* -- MEDIA QUERIES -- */

@media (max-width: 600px) {
  .header {
    grid-template:
      "header__search" 1fr
      "header__user" 1fr
      "header__welcome" 1fr
      " header__interact" 1fr
      / 1fr;
  }
}

@media (max-width: 992px) {
  body {
    grid-template:
      "header" 200px
      "main" 1fr
      / 1fr;
  }

  .navbar {
    display: none;
  }
}

/* FIX LATER */

.navbar__item__img {
  height: 30px;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.user-icon {
  width: 30px;
}
