@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-blue: #0f5e84;
  --color-lightgrey: #ddd;
  --color-darkgrey: #333;
  --block-padding: 10px;
  --user-icon-width: 80px;
  --shadow-color: 0, 0%, 0%;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

body {
  display: grid;
  grid-template:
    "navbar header" 200px
    "navbar main" 1fr
    / 200px 1fr;
  height: 100vh;
}

/* -- HEADER -- */

.header {
  grid-area: header;
  padding: var(--block-padding) calc(var(--block-padding) * 5);
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  gap: var(--block-padding);

  display: grid;
  grid-template:
    "header__search header__user" 2fr
    "header__welcome header__interact" 3fr
    / 3fr 2fr;
}

#header__navbar-link {
  display: none;
  background-color: transparent;
  border: none;
}

.header > * {
  display: flex;
  align-items: center;
}

.search-container {
  grid-area: header__search;
  width: 100%;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--block-padding);
}

.search-form button {
  background-color: transparent;
  border: none;
}

.search-form button:hover {
  cursor: pointer;
}

.search-form > label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-form > label > input {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--color-lightgrey);
  padding: 0 var(--block-padding);
}

.user-container {
  grid-area: header__user;
  justify-content: flex-end;
  gap: calc(var(--block-padding) * 2);
}

.user-container > button {
  border: none;
  background-color: transparent;
}

.user-container > button:nth-child(2) {
  display: flex;
  align-items: center;
  gap: var(--block-padding);
}

.user-container > button:hover {
  cursor: pointer;
}

.user-container__fullname {
  font-size: 1.1rem;
  font-weight: bold;
}

.welcome-container {
  grid-area: header__welcome;
  gap: var(--block-padding);
}

.welcome-container > #welcome-user-icon {
  height: var(--user-icon-width);
  width: var(--user-icon-width);
}

.welcome-container__text {
  display: flex;
  flex-direction: column;
  height: calc(var(--user-icon-width) - var(--user-icon-width) * 0.4);
  justify-content: space-between;
}

#welcome-container__greetings {
  font-size: 1.1rem;
}

#welcome-container__username {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 23px;
}

#welcome-container__username > em {
  font-weight: 400;
  font-style: oblique;
  font-size: 1rem;
}

.interact-container {
  grid-area: header__interact;
  justify-content: center;
  gap: calc(var(--block-padding) * 3);
}

.interact-container > button {
  background-color: var(--color-blue);
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 1.5rem;
}

/* -- NAVBAR -- */

.navbar {
  grid-area: navbar;
  background-color: var(--color-blue);
  padding: var(--block-padding);
  color: #fff;
}

.navbar,
.navbar__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--block-padding) * 5);
}

[class^="navbar__content__"] {
  display: flex;
  flex-direction: column;
  gap: var(--block-padding);
}

#navbar__header {
  font-size: 1.2rem;
  font-weight: bold;
}

#navbar__header,
.navbar__item > a {
  display: flex;
  align-items: center;
  gap: var(--block-padding);
  text-decoration: none;
  color: #fff;
}

.navbar__item > a:hover {
  color: #ddd;
  font-weight: bold;
}

.navbar__item__name {
  display: inline;
}

/* -- MAIN -- */

.main {
  padding: var(--block-padding);
  gap: calc(var(--block-padding) * 2);
  grid-area: main;
  background-color: var(--color-lightgrey);
  display: grid;
  grid-template:
    "main__projects main__sidebar"
    / 5fr minmax(300px, 2fr);
}

#projects__title,
#announcements__title,
#trendings__title {
  padding: var(--block-padding);
  font-size: 1.2rem;
  font-weight: bold;
}

#main__projects {
  display: flex;
  flex-direction: column;
  gap: var(--block-padding);
}

.main #projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: calc(var(--block-padding) * 2);
  grid-auto-rows: 200px;
}

.main .project {
  display: flex;
}

.main .project__color-line {
  height: 100%;
  width: 25px;
  background-color: var(--color-blue);
  border-radius: 0.5rem 0 0 0.5rem;
}

.project__content {
  padding: calc(var(--block-padding) * 2);
  display: flex;
  flex-direction: column;
  gap: var(--block-padding);
}

.project__content > h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.project__content > .project__buttons {
  gap: var(--block-padding);
  display: flex;
  justify-content: right;
  margin-top: auto;
}

.project__buttons__img {
  height: 30px;
  width: 30px;
}

#main__sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--block-padding);
}

#main__sidebar > #sidebar__announcements {
  display: flex;
  flex-direction: column;
  gap: var(--block-padding);
}

#announcements__container {
  padding: calc(var(--block-padding) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--block-padding));
}

#announcements__container > hr {
  width: 100%;
}

article.announcement {
  display: flex;
  flex-direction: column;
  gap: var(--block-padding);
}

#sidebar__trendings {
  display: flex;
  flex-direction: column;
  gap: calc(var(--block-padding));
}

#trendings__container {
  padding: calc(var(--block-padding) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--block-padding) * 2);
}

article.trending {
  display: flex;
  gap: var(--block-padding);
  align-items: center;
}

.trending__text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--block-padding) * 0.5);
}

/* -- GLOBAL STYLES -- */

.block--white {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36), 0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36), 2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36), 5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.announcement__title {
  font-weight: bold;
}

/* -- MEDIA QUERIES -- */

@media (max-width: 992px) {
  body {
    grid-template:
      "header" 200px
      "main" 1fr
      / 1fr;
  }

  .header {
    padding: var(--block-padding);
  }

  #header__navbar-link {
    display: block;
  }
  .header > .interact-container {
    gap: var(--block-padding);
  }

  .header > .user-container {
    gap: var(--block-padding);
  }

  .header #welcome-container__username {
    font-size: 1.2rem;
  }

  .navbar {
    display: none;
  }

  .main {
    grid-template:
      "main__projects main__sidebar"
      / 3fr 2fr;
  }
}

@media (max-width: 600px) {
  body {
    grid-template:
      "header" 1fr
      "main" 1fr
      / 1fr;
  }

  .header {
    grid-template:
      "header__search header__user" 1fr
      "header__welcome header__welcome" 1fr
      "header__interact header__interact" 1fr
      / 1fr min-content;
  }

  .welcome-container {
    margin: auto;
  }

  .header .user-container__fullname {
    display: none;
  }

  .main {
    grid-template:
      "main__sidebar"
      "main__projects"
      / 1fr;
  }
}

/* FIX LATER */

.navbar__item__img {
  height: 30px;
  width: 30px;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.user-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
