
:root{
    --icon-size-normal: 50px;
    --icon-size-small: 25px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#container{
    height: 1vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

header{
    display: flex;
    flex-direction: column;
}

#header-up{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
}

#header-up input{
    flex-grow: 1;
}

.user-avatar{
    content: url(img/user-icon.svg);
    height: var(--icon-size-normal);
    width: var(--icon-size-normal);
}




nav{
    background-color: #6366f1;
    grid-row: 1 / -1;
}





button{
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

button,
button img{
    height: var(--icon-size-normal);
    width: var(--icon-size-normal);
}

#button-search{background-image: url(img/magnify.svg);}
#button-notifications{background-image: url(img/bell-ring.svg);}

nav img{
    height: var(--icon-size-small);
    width: var(--icon-size-small);
}

ul{
    list-style: none;
}

nav li{
    display: flex;
    align-items: center;
}